*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ---------------------------------------------- */

.navbar-toggler:focus {
	box-shadow: 0 0 0;
}

.navbar-toggler {
	border: var(--bs-border-width) none var(--bs-navbar-toggler-border-color);
}

.line-height{
    line-height: 0.2;
}

.nav-font{
    font-size: 12px;
}


.logo-color{
    background-image: linear-gradient(to right,#FF5800,#ff2600);
}

.shadow-nav{
    box-shadow: 0px 0px 5px 0px rgba(255, 136, 0, 0.308);
}

.image-profile{
    width: 30px;
    height: 30px;
}

.image-profile img{
    border: 2px solid #ff8341;
}

.nav-link:focus, .nav-link:hover {
	color: #FF5800;
}

.nav-border{
    border: 1px solid #ff8522;
    opacity: 0.2;
}

/* -------------------------------------------- */

header.header-bg{
    background: #FFFAEB;
}


img.image-hero{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mycard{
    box-shadow: 0px 0px 5px 0px rgba(255, 136, 0, 0.308);
}

.mycard-lft img{
    height: 350px;
}

.badge-position{
    top: 15px;
    left: 15px;
    font-size: 14px;
}

.badge-position2{
    bottom: 15px;
    right: 35px;
    width: 80%;
    font-size: 13px;
}

.color-orange{
    color: #FF5800;
}

.color-red{
    color: red;
}

.color-blue{
    color: blue;
}

.logo-bg{
    background-color: #FFEDD4;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logo-bg:hover{
    background-color: #ffc87b;
}

.color-green{
    color: green;
    background-color:#DCFCE7 ;
}

.bg-color-blue{
    background-color: #DBEAFE;
}

.meal-time{
    background-color:#FEF2F2 ;
    border-left: red 4px solid;
}

.meal-time-detail{
    font-size: 13px;
}

.color-wine{
    color: #890000;
}


.nav {

	--bs-nav-link-color:gray ;
	--bs-nav-link-hover-color: black;

}


.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-bottom: #FF5800 2px solid;
    color: #FF5800;
}

.nav-tabs .nav-link {
	border: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


.mycont{
    max-height: 350px;
    overflow-y: auto;
}

.ing-card-bg{
    background: #FFFAEB;
}

.number-style{
    width: 25px;
    height: 25px;
    background-color: #FF5800;
}

.bg-orange{
    background-color: #FF5800;
}

.mycardd{
    background-color: #F9FAFB;
}



.bg-logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.first-logo{
    color: #FF5800;
    margin-top: 12px;
}

.second-logo{
    color: #155DFC;
    margin-top: 12px;
}

.third-logo{
    color: #D08702;
    margin-top: 12px;
}

.fourth-logo{
    color: #E7000B;
    margin-top: 12px;
}

.fifth-logo{
    color: #00A63E;
    margin-top: 12px;
}

.sixth-logo{
    color: #E60076;
    margin-top: 12px;
}


.bg-logo1{
    background-color: #FFEDD4;
}

.bg-logo2{
    background-color: #DBEAFE;
}

.bg-logo3{
    background-color: #FEF9C2;
}

.bg-logo4{
    background-color: #FFE2E2;
}

.bg-logo5{
    background-color: #DCFCE7;
}

.bg-logo6{
    background-color: #FCE7F3;
}

.tips{
    background-color: #FFFBEB;
    border-left: 4px solid #FFB900;
}

.ins-width{
    width: 22%;
}

.ins-width4{
    width: 20%;
}

.check-color{
    color: #E17100;
    font-size: 20px;
}


.mybtn{
    transition: all 0.2s ease;   
}

.mybtn:hover{
    transform: scale(1.05);
    background-image: linear-gradient(to right,#ff8400,#ff2600);
}

